:root {
  --primary-color : #369;
  --secuday-color: salmon;
  --white-back: white;
}


*{
    box-sizing: border-box;
    /* margin: 0px; */
    /* padding: 0px; */
  font-family:  Georgia, Cambia, serif;
  font-size: 18px;
  
  
    
}

html{
    font-size: 62.5%;
}


main{
  
    background-color: var(--white-back);
    width: 960px;
    margin: 0 auto;


}




form{
  display: flex;
  flex-direction: column;
  border: 0.2rem solid blue;
  width: 50%;
  padding: 1rem;
}







h1{
 text-align: center;
}

h2{
  /* border: 0.2rem solid grey; */
  padding: 0.8rem;
}

h2, ul{
  margin-top: 0.8rem;
}

.footer-conten{
  display: flex;
  list-style-type: none;
}

li{
  /* margin-left: 3rem; */
}

p{
  margin-left: 3rem;
  margin-top: 1rem;
}

.container{
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
}

.primero{
  width: 260px;
}

.segundo {
  width: 700px;
}